.clearfix {
  *zoom: 1;
}
.clearfix:before,
.clearfix:after {
  display: table;
  content: "";
  line-height: 0;
}
.clearfix:after {
  clear: both;
}
.hide-text {
  font: 0/0 a;
  color: transparent;
  text-shadow: none;
  background-color: transparent;
  border: 0;
}
.input-block-level {
  display: block;
  width: 100%;
  min-height: 30px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
#barBottomright .quick-links.list {
  width: 300px;
  max-width: 300px;
}
#barBottomright .quick-links.list.below {
  left: -141px;
}
#barBottomright .quick-links.list .item {
  width: 292px;
}
#barBottomright .quick-links.list label {
  cursor: pointer;
  display: block;
  font-weight: bold;
}
#barBottomright .quick-links.list input[type="checkbox"] {
  clip: rect(0 0 0 0);
  position: absolute;
}
#barBottomright .quick-links.list input[type="checkbox"] ~ span {
  background: url("http://127.0.0.1/~tleilax/studip/trunk/public/assets/images/icons/16/blue/checkbox-unchecked.png") 4px center no-repeat;
  display: inline-block;
  padding-left: 24px;
}
#barBottomright .quick-links.list input[type="checkbox"]:checked ~ span {
  background-image: url("http://127.0.0.1/~tleilax/studip/trunk/public/assets/images/icons/16/blue/checkbox-checked.png");
}
